@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

$undo-redo-button-size: 40px;
$undo-redo-svg-size: 2em;
$choice-color-button-size: 25px;
$not-choice-color-button-size: 25px;
$mode-svg-size: 36px;
$mode-button-size: $undo-redo-button-size;
$no-mode-button-size: 28px;
$button-border: 1px solid gray;

.note-header {
  @include mixins.tl-static-position();
  z-index: 999;
  width: 100vw;
}

.undo-redo-button {
  width: $undo-redo-button-size;
  height: $undo-redo-button-size;
  padding: 0px;
  border: $button-border;
  @include mixins.rounded();
  @include mixins.center();
}

.undo-redo-svg {
  font-weight: bold;
  width: $undo-redo-svg-size;
  height: $undo-redo-svg-size;
  padding: 0px;
}

@mixin color_button {
  margin: 0 3px;
  border: $button-border;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  @include mixins.rounded();
}

.choice-color-button {
  width: $choice-color-button-size;
  height: $choice-color-button-size;
  box-shadow: 0 0 8px #fff;
  @include color_button();
}

.not-choice-color-button {
  width: $not-choice-color-button-size;
  height: $not-choice-color-button-size;
  @include color_button();
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.color-picker::-webkit-color-swatch {
  border-radius: 50%; 
}
.color-picker::-moz-color-swatch {
  border-radius: 50%;
}

.mode-svg {
  width: $mode-svg-size;
  height: $mode-svg-size;
  stroke-width: 2px;
  color: #000;
}

.mode-pressure-stroke-erase-svg {
  width: $mode-svg-size;
  height: $mode-svg-size;
}

@mixin mode($size) {
  width: $size;
  height: $size;
  border: $button-border;
  cursor: pointer;
  @include mixins.rounded();
  @include mixins.center();
}

.mode-button {
  @include mode($mode-button-size);
}

.no-mode-button {
  @include mode($no-mode-button-size);
}

.width-button {
  background-color: #00000000;
  cursor: pointer;
  border: none;
  position: relative;
}

.width-button-circle {
  background-color: variables.$dark-blue-color;
  margin: 0 auto;
  @include mixins.rounded();
}

.width-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$base-color;
  border: 1px solid #aaa;
  border-radius: 20px;
  width: 250px;
  padding: 16px 20px;
  z-index: 999;
}

.choiced-width {
  padding: 5px;
  border: 1px solid variables.$dark-blue-color;
  @include mixins.rounded();
}