@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.button-group {
  margin-top: 10px;
}

.tree {
  margin: 20px 0 10px 0;
}

.tree-text {
  margin: 0;
  font-size: x-large;
  margin: 0 10px;
}

.folder-list {
  display: flex;
  background-color: variables.$base-color;
}

.folder-box {
  margin-right: 30px;
  background-color: #3a3a3a;
  padding: 0 10px;
  border-radius: 10%;
  &:hover {
    background-color: #999;
  }
  .folder-icon .note-icon {
    font-size: 3;
    color: whitesmoke;
  }
  p {
    margin-top: 0;
  }
}