@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.button-group {
  margin-top: 10px;
}

.note-folders-page-body {
  width: 100vw;
  // min-height: calc(100vh - 65px);
  padding: 0 20px;
  background-color: #fff;
  border-radius: 30px;
}

.tree {
  margin: 20px 0 0 0;
}

.tree-text {
  margin: 0;
  font-size: x-large;
  margin: 0 10px;
  padding: 3px 10px;
  border-radius: var(--dt-corner-card,.5rem);
  &:hover {
    background-color: #00000011;
  }
}

@mixin display-list($width: 220px) {
  margin: 0 20px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax($width,1fr));
  // background-color: variables.$base-dark-color;
}

.folder-list {
  @include display-list();
}

.file-list {
  @include display-list();
}

.folder-box {
  display: flex;
  align-items: center;
  background-color: variables.$folder-back-dolor;
  border-radius: var(--dt-corner-card,.375rem);
  font-size: 14px;
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  &:hover {
    background-color: #ddd;
  }
  .folder-icon {
    margin: 16px 20px;
    color: variables.$folder-note-color;
  }
}

.notefolders-subtitle {
  margin: 15px;
}

.file-box {
  background-color: variables.$folder-back-dolor;
  border-radius: var(--dt-corner-card,1rem);
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  height: 260px;
  &:hover {
    background-color: variables.$note-hover-color;
  }
  img {
    width: 90%;
    overflow: hidden;
  }
  .note-background {
    width: 90%;
    height: 210px;
    margin: 0 auto;
    background-color: #fff;
    .note-icon {
      color: variables.$folder-note-color;
    }
  }
  .note-title-icon {
    color: variables.$note-icon-color;
    margin: 12px 16px;
  }
  .note-text {
    color: variables.$text-color;
  }
}