@use '../../../styles/mixins.scss';
@use '../../../styles/variables.scss';

.graph-area {
  background-color: variables.$dark-blue-color;
  width: 25vw;
  min-width: 280px;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  right: 0;
}

.graph-wrapper {
  background-color: variables.$dark-blue-color;
  min-height: 300px;
  height: 30vh;
  max-height: 400px;
  margin: 20px 20px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid;
  box-shadow:
    0 0 7px #aaa,
    0 0 20px #00f,
}

.graph-wrapper-height {
  min-height: 280px;
  height: 42vh;
  max-height: 500px;
  position: relative;
}

.slider-wrapper {
  margin: 0 15px 0 50px;
  display: flex;
  justify-content: end;
  
}

.display-button-wrapper {
  display: flex;
  height: 4vh;
  justify-content: space-around;
  align-items: center;
  .display-button {
    box-shadow:
      0 0 7px #fff,
      0 0 20px #aaa,
  }
}

.log-image-container {
  @include mixins.dialog-container($height: 70vh, $z-index: 1);
  @include mixins.bl-static-position();
  .log-image-total {
    @include mixins.tl-static-position($position: absolute, $left: 20px);
    font-size: large;
    font-weight: bold;
  }
  .grid-log {
    margin: 50px 60px 10px 50px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(16%,1fr));
  }
  .log-image-wrapper {
    cursor: pointer;
    max-height: 200px;
    overflow: hidden;
    background-color: white;
    .log-image {
      width: 100%;
    }
  }
}

.dialog-image-container {
  // margin-bottom: 100px;
  @include mixins.dialog-container();
  @include mixins.tl-static-position();
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: scroll;
  .dialog-image-wrapper {
    margin: 150px auto;
    text-align: center;
    display: block;
  }
  // .dialog-image {
  //   // width: 100%;
  //   // max-height: 70vh;
  // }
}

.close-button {
  @include mixins.tr-static-position($top: 65px, $right: 20px);
  color: #fff;
  cursor: pointer;
}

.close-button.half {
  @include mixins.tr-static-position($position: absolute, $top: 20px, $right: 20px);
}

.doughnut-graph-title {
  margin-top: 0px;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}