@use "../components/note/header/NoteHeader.scss";
@use "./mixins.scss";
@use "./variables.scss";

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  @include mixins.center();
}

.align-center {
  display: flex;
  align-items: center;
}

@mixin text-color {
  color: variables.$p-text-color;
}

.text, .icon {
  @include text-color();
}

.small-text {
  margin: 0;
  font-size: small;
  @include text-color();
}