@use "../components/home/Home.scss";
@use "../components/notefolder/NoteFolder.scss";
@use "../components/note/Note.scss";
@use "../components/common/authentication/Authentication.scss";
@use "./mixins.scss";
@use "./variables.scss";

html {
  background-color: variables.$base-color;
}

.canvas {
  @include mixins.tl-static-position($position: absolute);
}

.no_scroll {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.center {
  @include mixins.center();
}

.align-center {
  display: flex;
  align-items: center;
}

.width80 {
  width: 80%;
}

.width100 {
  width: 100%;
}

@mixin text-color {
  color: variables.$p-text-color;
}

.big-text {
  margin: 0;
  font-size: large;
  font-weight: bold;
  @include text-color();
}

.big-white-text {
  font-size: large;
  font-weight: bold;
  color: variables.$base-color;
}

.text, .icon {
  @include text-color();
}

.white-text {
  color: variables.$base-color;
}

.text-center {
  text-align: center;
}

.no-decorate-text {
  text-decoration: none;
}

.absolute-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.small-text {
  margin: 0;
  font-size: small;
  @include text-color();
}

.pointer {
  @include mixins.pointer();
}

.height100 {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.main {
  margin-top: 65px;
  min-height: calc(100vh - 65px);
  background-color: variables.$base-color;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: calc(100vh - 65px);
  background-color: variables.$base-color;
  border-right: 2px solid variables.$folder-back-dolor;
  .sidebar-link {
    text-decoration: none;
  }
}


.loading-screen {
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  .text {
    color: #000000;
  }
}

.timeout-screen {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  @include mixins.dialog-container();
  @include mixins.tl-static-position();
  @include mixins.center();
  .dialog {
    width: 40%;
    height: 400px;
    background-color: variables.$dark-blue-color;
    @include mixins.medium-rounded();
    border: 2px solid white;
    @include mixins.center();
  }
}