@use 'variables.scss';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rounded {
  border-radius: 9999px;
}

@mixin pointer {
  cursor: pointer;
}

@mixin tl-static-position($position: fixed, $top: 0, $left: 0) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin tr-static-position($position: fixed, $top: 0, $right: 0) {
  position: $position;
  top: $top;
  right: $right;
}

@mixin bl-static-position($position: fixed, $bottom: 0, $left: 0) {
  position: $position;
  bottom: $bottom;
  left: $left;
}

@mixin dialog-container(
  $background-color: variables.$dark-blue-color,
  $width: 100vw,
  $height: 100vh,
  $z-index: 999,
  ) {
  background-color: #{$background-color}+"BB";
  width: $width;
  height: $height;
  z-index: $z-index;
}