$base-dark-color: #263238;
$base-color: #F2F6FC;;
$dark-blue-color: #1A2939;
$folder-note-color: #5f6368;
$text-color: #1F1F1F;
$note-hover-color: #E3E3E3;
$note-icon-color: var(--dt-primary,#1a73e8);
$folder-back-dolor: #F2F6FC;
$dark-color: #556;
$p-text-color: #444746;